pytorch 
torchvision 
torchaudio
pytorch-lightning 
scipy 
einops 
protobuf 
omegaconf 
huggingface_hub
jupyter
jupyterlab
accelerate
safetensors 
diffusers
transformers
faiss-cpu
langchain
pypdf
python-dotenv


